doctype html
html
  head
    title= title
    meta(name='description', content= description)
  body
    h1= title
    p= description
    ul
      each item in collections
        li
          h3= item.metadata.name
          ul
            li
              each report in item
                a(href=report.path) 
                  span= report.title 
